* {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
}

html {
    height: 100vh;
    height: 100vw;
}

@media only screen and (max-width: 400px) {
    .nav-header {
        width: 100%;
    }

    body {
        height: 100%;
        padding-top: 100px;
        background-repeat:no-repeat;
        background-size:contain;
        background-position:center;
    }
}

.nav-header {
    position: fixed;
    top: 0;
    transition: top 0.3s;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #2b2828;
    height: 100px;
    width: 100%;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    -moz-box-shadow: 3px 3px 5px 6px #ccc;  
    box-shadow: 1px 3px 10px 0px #000;  
    z-index: 500;
}

.logo {
    display: flex;
    width: 15vw;
    justify-content: center;
    align-items: center;
}

.logo h1 {
    color: white;
    font-size: 28px;
}

.logo a {
    text-decoration: none;
}

.nav-options {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    list-style: none;
}

.nav-options li {
    height: 100px;
    display: flex;
    align-items: center;
}

.nav-options li:hover {
    background-color: rgb(75, 75, 75);
}

.nav-options a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    display: block;
    padding: 50px;
}

body {
    height: 100%;
    padding-top: 100px;
    background-size: cover;
}

.game-space {
    height: 100vh;
}

.enemy{
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pixelcat {
    width: 200px;
    height: 200px;
}